*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body{
    background-image:url(assets/bg-light.png);
    background-repeat: no-repeat;
    background-size: 110% auto;
    background-position: center -85px;
    width: 100%;
    height: 100vh;
}

.navbar{
    width:100%;
    height:10%;
    display: flex;
    justify-content: center;
    gap: 40px;
    cursor: pointer;
    background: transparent;
}


.nav-left img{ 
    width:58%;
    display: flex;
    padding: 25px;
}

.nav-center{
    padding: 25px;
    
}

.nav-center a{
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    padding-right: 20px;
    font-size: 14px;
    font-weight: 500;
}

.nav-right{
    padding: 25px;
}

.nav-right a{
    padding: 7px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}

.nav-right button{
    border-radius: 30px;
    padding: 7px 15px;
    border: 1px solid white;
    
}


.hero{
    width: 100%;
    height: 40%;
    text-align: center;
}  

.hero-content{
    padding-top: 50px;
}

.hero-content h1{
    font-size: 45px;
    color: #ffff;
    padding-bottom: 20px;
}

.hero-content p{
    color: #fff;
    line-height: 1.5em;
    padding-bottom: 20px;
}

.email-container {
  width: 30%;
  margin: 40px auto;
  padding: 8px 16px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  gap: 10px;
  align-items: center;
}

.email-container input {
  flex: 1;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: #333;
}

.email-container input::placeholder {
  color:#f7f7f7
}

.send-btn {
  padding: 10px 20px;
  background-color: rgba(246, 244, 244, 0.61);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
}

.send-btn:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

 

.hero-img{
    margin-top: 7%;
    width:100%;
    height:80%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.hero-img-1{
    width:70%;
    height: 100%;
}

.company{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
}

.logo{
    width:70%;
    height:50%;
}

.logo-1{
    width:100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    gap:2px;
}

.child-logo-1{
    width:10%;
}

.logo-2{
    width:100%;
    height:50%;
    display: flex;
    justify-content: space-evenly;
    gap:2px;
    padding-top: 35px;
}


.child-logo-2{
    width:10%;
}

#paypal{
    width:100%;
}

#X{
    padding-left: 29px;
}

.feature{
    width:100%;
    height:130%;
    padding-top: 9rem;
}

.feature-1{
    width:100%;
    height: 10%;
    padding:7px;
}

.child-feature{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.child-feature h2{
    font-size: 35px;
}

.child-feature p{
    font-size: 15px;
    text-align: center;
    color: #585858;
}

.feature-2{
    width:100%;
    height: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-top: 2%;
}

.box-1{
    width:33.33%;
    height:100%;
    border: 1px solid rgb(232, 232, 232);
    padding: 18px;
    text-align: left;
    
}

.box-1 h6{
    color:rgba(0, 128, 58, 0.99);
    font-weight: 500;
    padding: 9px;
}

.box-1 h2{
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
    padding-left: 10px;
}

.box-1 p{
    color: #585858;
    font-size: 14px;
    padding-left: 10px;
}

.box-2{
    width:33.33%;
    height:100%;
    border: 2px solid black;
    padding: 15px;
    border: 1px solid rgb(232, 232, 232);
}


.box-2 h6{
    color:rgba(0, 128, 58, 0.99);
    font-weight: 500;
    padding: 16px;
    padding-left: 2px;
}

.box-2 h2{
    font-size: 20px;
    font-weight: 500;
    padding: 3px;
    padding-left: 11x;
}

.box-2 p{
    color: #585858;
    font-size: 14px;
    padding-left: 10px;
    padding: 5px;
}

.box-2 video{
    padding-right: 20px;
}

.feature-3{
    width:100%;
    height: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px;
}

.box-3{
    width:70%;
    height:100%;
    padding: 15px;
    border: 1px solid rgb(232, 232, 232);
}

.box-3 h6{
    color:rgba(0, 128, 58, 0.99);
    font-weight: 500;
    padding: 16px;
    padding-left: 2px;
}

.box-3 h3{
    font-size: 20px;
    font-weight: 500;
    padding: 3px;
    padding-left: 11x;
}

.box-3 p{
    color: #585858;
    font-size: 14px;
    padding-left: 10px;
    padding: 5px;
}


.Enterprise{
    width:100%;
    height:150%;
    background-color: #F7F7F7;
}

.Enterprise-1{
    width:100%;
    height:30%;
    display: flex;
    flex-direction: column;
    padding: 5rem;
    padding-left: 20%;
}

.Enterprise-1 h6{
    color:rgba(0, 128, 58, 0.99);
    font-weight: 500;
    padding: 16px;
    padding-left: 2px;
}
.Enterprise-1 h1{
    padding: 3px;
    padding-left: 2px;
    font-size: 40px;
    font-weight: 600;
}

.Enterprise-child{
    display: flex;
    gap:9rem;
}

.Enterprise-child button{
    text-decoration: none;
    border-radius: 100px;
    border: 1px solid white;
    padding: 17px 22px;
    color: white;
    padding-top:1px;
    font-weight: 600;
}


.Enterprise-2{
    width:100%;
    height: 22%;
    display: flex;
    gap:10px;
    /* margin-top: 2%; */
}

.Enterprise-2-1{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 19rem;
}

.Enterprise-2-1 img{
    width:60px;
    padding: 17px;
    padding-left: 3px;
}

.Enterprise-2-1 h5{
    font-size: 20px;
    padding-bottom: 12px;
}

.Enterprise-2-1 p{
    font-size: 15px;
    font-weight: 350;
}


.Enterprise-2-2{
    width: 50%;
    height: 100%;
}

.Enterprise-2-2 img{
    width:60px;
    padding: 17px;
    padding-left: 3px;
}

.Enterprise-2-2 h5{
    font-size: 20px;
    padding-bottom: 12px;
}

.Enterprise-2-2 p{
    font-size: 15px;
    font-weight: 350;
}

.Enterprise-3{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
}

.Enterprise-3-1{
    width: 70%;
    height: 100%;
    background-image:url(assets/Enterprise.png);
    background-repeat: no-repeat;
    background-size: 105% auto;
    background-repeat: no-repeat;
    border-radius: 30px;
    background-position: center; 
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 30px;
    padding-left: 30px;
}

.customer{
        font-size: 18px;
        padding: 15px;
}

.customer h6{
    padding-bottom: 20px;
    font-weight: 600;
}

.customer p{
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 30px;
}

.customer a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}


.monthly{
        font-size: 18px;
        padding: 15px;
}

.monthly h6{
    padding-bottom: 20px;
    font-weight: 600;
}

.monthly p{
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 30px;
}

.monthly a{
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.Monthly{
    display: flex;
    padding-bottom: 20%;
}

.Monthly-1{
    padding: 6rem;
    padding-left: 20px;
    padding-right: 1;
    font-size: 25px;
}

.Monthly-1 h1{
    font-weight: 400;
}

.Monthly-1 p{
    font-size: 14px;
    padding-top: 5px;
    color: #ffffffd1
}


.Monthly-2{
    padding: 6rem;
    padding-right: 45px;
    padding-left: 1px;
    font-size: 25px;

}

.Monthly-2 h1{
    font-weight: 400;
}

.Monthly-2 p{
    font-size: 14px;
    padding-top: 5px;
    color: #ffffffd1
}

.card-logo{
    width:100%;
    height:20%;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.card{
    display: flex;
    justify-content: center;
    width: 2px;
    gap:40px;
    padding-bottom: 55px;
    background-color: #F7F7F7;
}
.card-1{
    padding: 5px;
}
.card-2 img{
    width:120px;
}


.industry{
    width:100%;
    height:90%;
}

.industry-1{
    height:30%;
    width:100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.industry-1 h6{
    color:rgba(0, 128, 58, 0.99);
    font-weight: 500;
    padding-bottom: 8px;
}

.industry-1 h1{
    font-size: 35px;
    font-weight: 650;
    padding-bottom: 8px;
}

.industry-1 p{
    text-align: center;
    font-size: 15px;
    padding-left: 20px;
}

.industry-2{
    height:50%;
    width:100%;
    display: flex;
    justify-content: center;
    gap:15px;
}

.industry-2-1{
    width:25%;
    height:100%;
}

.industry-2-1 img{
    width:382px;
    padding-bottom: 10px;
}

.industry-2-1 p{
    font-size: 15px;
    padding-bottom: 19px;
    color:rgba(0, 0, 0, 0.764);

}

.industry-2-1 a{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.512);
    text-decoration: none;
    font-weight: 500;
}



.industry-2-2{
    width:25%;
    height:100%;
}

.industry-2-2 img{
    width:382px;
    padding-bottom: 10px;
}

.industry-2-2 p{
    font-size: 15px;
    padding-bottom: 19px;
    color:rgba(0, 0, 0, 0.764);

}

.industry-2-2 a{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.512);
    text-decoration: none;
    font-weight: 500;
}


.industry-2-3{
    width:25%;
    height:100%;
}


.industry-2-3 img{
    width:382px;
    padding-bottom: 10px;
}

.industry-2-3 p{
    font-size: 15px;
    padding-bottom: 19px;
    color:rgba(0, 0, 0, 0.764);

}

.industry-2-3 a{
    font-size: 14px;
    color:rgba(0, 0, 0, 0.512);
    text-decoration: none;
    font-weight: 500;
}

.pricing{
    width:100%;
    height:80%;
    padding: 150px;
    gap:10px;
}

.pricing-1{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.pricing h1{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 8px;
}

.pricing-1 p{
    font-size : 15px;
    padding-bottom: 45px;
}

.pricing-1 button{
    border-radius: 30px;
    border:1px solid white;
    padding: 4px 12px;
}

.bottom .btn-1{
    border-radius: 55px;
    border:1px solid white;
    padding: 14px 22px;
    color: #F7F7F7;
    background-color: black;
}

.bottom .btn-2{
    border-radius: 40px;
    border:0.1px solid black;
    padding: 10px 22px;
    background-color: #fff;
}


.pricing-2{
    width:100%;
    height:50%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.pricing-2-1{
    width:50%;
    height:100%;
    border: 1px solid rgba(203, 203, 203, 0.634);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
    padding-left: 21rem;
}

.pricing-2-1 img{
    width:50px;
    padding-bottom: 20px;
}

.pricing-2-1 h3{
    font-size: 19px;
    font-weight: 549;
    padding-bottom: 10px;
}

.pricing-2-1 p{
    font-size: 16px;
    padding-bottom: 23px;
}

.pricing-2-1 a{
    color:rgba(0, 128, 58, 0.99);
    text-decoration: none;
    font-size: 15px;
}
.pricing-2-2{
    width:50%;
    height:100%;
    border: 1px solid rgba(203, 203, 203, 0.634);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
    padding-right: 21rem;
}

.pricing-2-2 img{
    width:50px;
    padding-bottom: 20px;
}

.pricing-2-2 h3{
    font-size: 19px;
    font-weight: 549;
    padding-bottom: 10px;
}

.pricing-2-2 p{
    font-size: 16px;
    padding-bottom: 23px;
}

.pricing-2-2 a{
    color:rgba(0, 128, 58, 0.99);
    text-decoration: none;
    font-size: 15px;
}

.last{
    width:100%;
    height:70%;
    border:2px solid black;
    display:flex;
    flex-direction: column;
    padding-top: 60px;
}

/* Top Logo + Social */
.footer-1{
    width:100%;
    height:20%;
    padding:20px 60px;
    display: flex;
    justify-content: center;
    border-top:1px solid #ddd; 
}

.footer-1-1{
    display:flex;
    justify-content: space-between;
    align-items:center;
    gap:600px;
}

/* Links Section */
.footer-2{
    width:100%;
    height:80%;
    padding:40px 80px;
    /* border:1px solid #ddd; */
    border-top:1px solid #ddd; 
    display: flex;
    justify-content: center;
}

.list{
    width:60%;
    height:120%;
    display: flex;
    justify-content: space-between;
    line-height: 2em;
}

.list ul{
    list-style: none;
}

.list li{
    font-size: 15px;
}
/* Security Section */
.footer-3{
    width:100%;
    height:20%;
}

.footer-3 h5{
    font-weight: 500;
    text-align: center;
    padding-right:37rem;
    padding-top: 20px;
    border-top:1px solid #ddd; 
}




/* Bottom Copyright */
.footer-4{
    width:100%;
    height:40%;
    padding:20px 80px;
    display: flex;
    justify-content: space-around;
     border-top:1px solid #ddd; 
}

.footer-4 button{
    border-radius: 30px;
    border:1px solid white;
    padding: 5px 15px;
}

.normal{
    padding-left: 0;
    padding-left:10rem;
}

.clone{
    font-size: 15px;
    padding-right: 25rem;
    padding-left:0 ;
}
